@{
    ViewBag.Title = "List Monthly Payments";
}

<h1>@ViewBag.Title.</h1>

<a class="btn btn-secondary" href="/Home" role="button">Create New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Principle</th>
            <th scope="col">Interest Rate</th>
            <th scope="col">Duration in Years</th>
            <th scope="col">Monthly Payment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
